* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  padding: 16px;
  gap: 16px;
  background-color: #2a2a2a;
  color: #fefefe;
  /* 1. Add a custom sans-serif font */
}

@media (min-width: 768px) {
  body {
    padding: 40px;
  }
}

header,
main,
footer {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 32px;
  background-color: #101014;
}

main {
  display: grid;
  gap: 32px;
}

@media (min-width: 768px) {
  main {
    padding: 48px;
    gap: 40px;
  }
}

footer {
  text-align: center;
}

/* 2. Make the links in the footer white */

section {
  display: grid;
  gap: 16px;
}

h1 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0.25turn, #007cf0, #ff0080);
  -webkit-background-clip: text;
  /* 3. Make the main heading larger */
  /* 4. Align the main heading to the center */
}

h2 {
  font-size: 24px;
}

/* 5. Add responsive styles (@media) to make the headings larger on wider screens */